<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Personas</title>
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">

</head>
<body>
	<div class="container">
	<h2>Agregar persona</h2>
		<form action="#" th:action="@{/save}" th:object=${persona}
			method="post">
			
			<div class="form-group">
				<label for="nombre">Nombre</label> <input type="text"
					class="form-control" id="nombre" th:field="*{nombre}">
					<input type="hidden" id="id" th:field="*{id}">
			</div>
			<div class="form-group">
				<label for="nombre">Apellido</label> <input type="text"
					class="form-control" id="apellido" th:field="*{apellido}">
			</div>
			<div class="form-group">
				<label for="nombre">Direccion</label> <input type="text"
					class="form-control" id="direccion" th:field="*{direccion}">
			</div>
			<div class="form-group">
				<label for="nombre">Telefono</label> <input type="text"
					class="form-control" id="telefono" th:field="*{telefono}">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-success">Guardar</button>
			</div>

		</form>


	</div>

</body>
</html>